html
  head
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css')
  body
    div.min-h-screen.bg-gray-50.flex.flex-col.justify-center.py-12(class='sm:px-6 lg:px-8')
      div(class='sm:mx-auto sm:w-full sm:max-w-md')
        h2.mt-6.text-center.text-3xl.leading-9.font-extrabold.text-gray-900
          | Sign in Successful!
        h2.mt-6.text-center.text-3xl.leading-9.font-extrabold.text-gray-900
          | Welcome username!
      div(class='sm:mx-auto sm:w-full sm:max-w-md')
        p
          | Password
